<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <div class="flex flex-column">
     <a href="{{ .Site.BaseURL }}">
      <img class="dib-ns" src="{{ .Site.Params.footer_image }}">
      </a>
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 /*ph3*/" href="{{ .Site.BaseURL }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
 </div>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
